:root{
    --x-primary-color: #7a71fa;
    --x-primary-color-light: #a8a1ff;
    --x-info-color: #0099ff;
    --x-info-color-light: #66b3ff;
    --x-success-color: #00cc6d;
    --x-success-color-light: #33ff8c;
    --x-warning-color: #ffbb00;
    --x-warning-color-light: #ffdd33;
    --x-danger-color: #ff4444;
    --x-danger-color-light: #ff7777;
}